{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 7"]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "inline-dotenv",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
